@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // To implement
    // May have nothing more to impelement.
}

<h1 class="mx-auto text-center">Вашата поръчка е приета. Очаквайте обаждане от нас.</h1>
<h1 class="mx-auto text-center">Благодарим Ви за поръчката!</h1>