@model dynamic

@section AddToBottom{
    <script src="~/js/adminPage.js" asp-append-version="true"></script>
}

<div id="tools">
    <label>Users Database</label>
    <ul id="users">
        <li><button class="btn btn-secondary btn-sm m-1" type="button" data-action="getAll" href="/admin/GetUsers">Get all users</button></li>
        <li><button class="btn btn-secondary btn-sm m-1" type="button" data-action="getOneByEmail">Get user by email</button></li>
        <li><button class="btn btn-secondary btn-sm m-1" type="button" data-action="getOneById">Get user by id</button></li>
        <li><button class="btn btn-secondary btn-sm m-1" type="button" data-action="deleteByEmail">Delete user by email</button></li>
        <li><button class="btn btn-secondary btn-sm m-1" type="button" data-action="deleteById">Delete user by id</button></li>
    </ul>
    <label>Dishes Database</label>
    <ul id="dishes">
        <li><button class="btn btn-secondary btn-sm m-1" type="button" data-action="getAll">Get all dishes</button></li>
        <li><button class="btn btn-secondary btn-sm m-1" type="button" data-action="getOne">Get dish by id</button></li>
        <li><button class="btn btn-secondary btn-sm m-1" type="button" data-action="delete">Delete dish by id</button></li>
        <li><button class="btn btn-secondary btn-sm m-1" type="button" data-action="create">Create</button></li>
        <li><button class="btn btn-secondary btn-sm m-1" type="button" data-action="update">Update</button></li>
    </ul>
    <label>Orders Database</label>
    <ul id="orders">
        <li><button class="btn btn-secondary btn-sm m-1" type="button" data-action="getAll">Get all orders</button></li>
        <li><button class="btn btn-secondary btn-sm m-1" type="button" data-action="getAllByUserId">Get all orders of user by Id</button></li>
        <li><button class="btn btn-secondary btn-sm m-1" type="button" data-action="getAllByUserEmail">Get all orders of user by Email</button></li>
        <li><button class="btn btn-secondary btn-sm m-1" type="button" data-action="getOne">Get order by id</button></li>
    </ul>
</div>
<div id="result"></div>
