@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home Page";
    string? nickname = HttpContextAccessor.HttpContext.Session.GetString("Nickname");
    string msg;

    if (nickname == null)
        msg = "!";
    else
        msg = ", " + nickname + "!";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли @msg</h1>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
